@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);

.App {
  box-sizing: border-box;
  text-align: center;
  line-height: 1.7;
  font-family: 나눔스퀘어, "NanumSquare", sans-serif;
}
